<app-questionnaire-layout
  [showHeader]="true"
  [isSubmitting]="isSubmitting()"
  (nextClicked)="handleNext()"
  (goBackClicked)="handleGoBack()">

  <div class="px-6 py-8">
    <h1 class="text-2xl font-bold text-gray-900 mb-8 text-center">Доходы</h1>

    <!-- Reactive Form -->
    <form [formGroup]="form" class="space-y-6">
      <div class="mb-6">
        <label [for]="formKeys.Salary" class="block text-gray-900 font-medium mb-3">Зарплата</label>
        <p-input-number
          [id]="formKeys.Salary"
          [inputId]="formKeys.Salary"
          [formControlName]="formKeys.Salary"
          [invalid]="form.get(formKeys.Salary)?.invalid && form.get(formKeys.Salary)?.touched"
          placeholder="Введите сумму"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          mode="currency"
          currency="UZS"
          locale="ru-RU"
          [min]="0"
          [fluid]="true">
        </p-input-number>
        @if (form.get(formKeys.Salary)?.invalid && form.get(formKeys.Salary)?.touched) {
          <small
            class="text-red-500 block mt-2"
            [id]="formKeys.Salary + '-help'"
          >
            @if (form.get(formKeys.Salary)?.hasError('required')) {
              Обязательное поле
            }
            @if (form.get(formKeys.Salary)?.hasError('min')) {
              Зарплата должна быть больше 0
            }
          </small>
        }
      </div>

      <div class="mb-6">
        <label [for]="formKeys.OtherIncome" class="block text-gray-900 font-medium mb-3">Другие доходы</label>
        <p-input-number
          [id]="formKeys.OtherIncome"
          [inputId]="formKeys.OtherIncome"
          [formControlName]="formKeys.OtherIncome"
          [invalid]="form.get(formKeys.OtherIncome)?.invalid && form.get(formKeys.OtherIncome)?.touched"
          placeholder="Введите сумму"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          mode="currency"
          currency="UZS"
          locale="ru-RU"
          [min]="0"
          [fluid]="true">
        </p-input-number>
        @if (form.get(formKeys.OtherIncome)?.invalid && form.get(formKeys.OtherIncome)?.touched) {
          <small
            class="text-red-500 block mt-2"
            [id]="formKeys.OtherIncome + '-help'"
          >
            @if (form.get(formKeys.OtherIncome)?.hasError('min')) {
              Сумма не может быть отрицательной
            }
          </small>
        }
      </div>
    </form>
  </div>
</app-questionnaire-layout>
